LOCATE COMP "clk" SITE "C1" ;
LOCATE COMP "ledDigit[0]" SITE "A12" ;
LOCATE COMP "ledDigit[1]" SITE "K1" ;
LOCATE COMP "ledDigit[2]" SITE "A11" ;
LOCATE COMP "ledDigit[3]" SITE "B12" ;
LOCATE COMP "ledDigit[4]" SITE "H2" ;
LOCATE COMP "ledDigit[5]" SITE "H1" ;
LOCATE COMP "ledDigit[6]" SITE "J1" ;
LOCATE COMP "ledDigit[7]" SITE "B14" ;
LOCATE COMP "ledDigit[8]" SITE "C12" ;
LOCATE COMP "ledTen[0]" SITE "C9" ;
LOCATE COMP "ledTen[1]" SITE "F1" ;
LOCATE COMP "ledTen[2]" SITE "B9" ;
LOCATE COMP "ledTen[3]" SITE "A9" ;
LOCATE COMP "ledTen[4]" SITE "E2" ;
LOCATE COMP "ledTen[5]" SITE "E1" ;
LOCATE COMP "ledTen[6]" SITE "F2" ;
LOCATE COMP "ledTen[7]" SITE "C11" ;
LOCATE COMP "ledTen[8]" SITE "A10" ;
LOCATE COMP "ledVolumn[0]" SITE "P9" ;
LOCATE COMP "ledVolumn[1]" SITE "N9" ;
LOCATE COMP "ledVolumn[2]" SITE "N10" ;
LOCATE COMP "ledVolumn[3]" SITE "P11" ;
LOCATE COMP "ledVolumn[4]" SITE "M11" ;
LOCATE COMP "ledVolumn[5]" SITE "P12" ;
LOCATE COMP "ledVolumn[6]" SITE "M12" ;
LOCATE COMP "ledVolumn[7]" SITE "N13" ;
LOCATE COMP "rst" SITE "L14" ;
